
*.old   
*.bak   
*.BAK   
*.orig  
*.rej   
.del-* 
*.a     
*.olb   
*.o     
*.obj   
*.so 
*.Z     
*.elc   
*.ln 
*.magikc 
*.msf 
*.msgc 
*.def# 
*.def~  
*.mf 
*.magik~ 
*~ *# 
*.txt~
*~
*magik#
libs/**
product.ser
*.jar
tools/lag_agrar/lag_add_ons/lag_eingabe_antrag/lag_eingabe_antrag_import_data/source/~$rkflow.docx
